<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <connectionStrings>
        <add connectionString="Server=tcp:jsg4xlah5i.database.windows.net,1433;Database=globalazuremed;Uid=andreslon@jsg4xlah5i;Pwd=@globalazure1" name="globalazuremed" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>